.memory-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* transform: translate(-50%, -50%); */
}

.memory {
    display: grid; /* Utiliser une grille au lieu de flexbox */
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes pour une grille de 4x4 */
    gap: 1%; /* Espacement entre les cartes */
    width: 73%; /* Largeur de la grille (ajustez selon vos besoins) */
    margin: 12% 0 12% 0;
    user-select: none;
  }


 .memory > .card {
    font-size: 1.5em; /* Taille de la police des cartes */
    border-radius: 15px; /* Bordure arrondie */
    border: 1px solid silver; /* Bordure */
    cursor: pointer;
    width: auto; /* Largeur de chaque carte */
    height: 100px; /* Hauteur de chaque carte */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .memory > .card.hidden {
    background:rgb(52, 84, 180)
  }

  .memory > .card.justMatched,
  .memory > .card.justMismatched {
    border-color: green; /* Couleur de la bordure pour les correspondances */
  }

  .memory > .card.justMismatched {
    border-color: red; /* Couleur de la bordure pour les non-correspondances */
  }

  .memory > .card.visible {
    cursor: not-allowed;
  }

  .memory > .card > .symbol {
    margin: auto;
  }
